@import './welcome/index';

@import './seed-phrase/index';


.first-time-flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  background-color: $white;
  &__wrapper {
      display: flex;
      flex-direction: column;
      width: 320px;
    .app-header__metafox-logo {
      margin-bottom: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__create-back {
    margin-bottom: 16px;
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 24px;
    color: black;
  }

  &__subheader {
    margin-bottom: 16px;
  }

  &__textarea-wrapper {
    margin-bottom: 8px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    max-width: 350px;
  }

  &__textarea-label {
    margin-bottom: 9px;
    color: #1B344D;
    font-size: 18px;
  }

  &__textarea {
    font-size: 1rem;
    font-family: Roboto;
    height: 190px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding: 16px;
    margin-top: 8px;
  }

  &__breadcrumbs {
    margin: 36px 0;
  }

  &__unique-image {
    margin-bottom: 20px;
  }

  &__markdown {
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: $white;
    height: 200px;
    overflow-y: auto;
    color: #757575;
    font-size: .75rem;
    line-height: 15px;
    text-align: justify;
    margin: 0;
    padding: 16px 20px;
    height: 30vh;
  }

  &__text-block {
    margin-bottom: 24px;
    color: black;

    @media screen and (max-width: $break-small) {
      margin-bottom: 16px;
      font-size: .875rem;
    }
  }

  &__button {
    margin: 35px 0 14px;
    width: 140px;
    height: 44px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  &__checkbox {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1.5px solid #2f9ae0;
    }

    .fa-check {
      color: #2f9ae0
    }
  }

  &__checkbox-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #939090;
    margin-left: 18px;
  }

  &__link-text {
    color: $curious-blue;
  }


  &__Symbol{
    display: flex;
    flex-direction:row;
    margin-top: 25px;
    width: 320px;
    height: 20px;
    align-items:center;

    &--icon{
      width: 16px;
      height: 16px;
      opacity: 1;
      background: #ffffff;
    }
    &--font{
      width: 56px;
      height: 20px;
      margin-left: 6px;
      text-align:center;
      opacity: 1;
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: justify;
      color: #e87711;
      line-height: 20px;
    }
  }

  &__Describe{
    display: flex;
    flex-direction:row;
    width: 320px;
    height: auto;
    margin-top: 8px;
  }

  &__Star{
    width: 8px;
    height: 20px;
    margin-left: 4px;
    opacity: 1;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    color: #e87711;
    line-height: 20px;
  }

  &__Empty{
    width:320px;
    height: 12px;
  }


  &__FirstUsedTips1 {
    width: 294px;
    height: 44px;
    opacity: 1;
    font-size: 14px;
    margin-left: 10px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #404040;
    line-height: 22px;
  }

  &__FirstUsedTips2 {
    width: 294px;
    height: 22px;
    opacity: 1;
    margin-left: 10px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #404040;
    line-height: 22px;
  }

  .first-time-flow__button {
    width: 320px;
    height: 46px;
    opacity: 1;
    background: #586aff;
    border-radius: 6px;
    margin-top: 24px;
    margin-bottom: 0;
    color: #ffffff;
  }

  &__input{
    margin-bottom: 0px;
    width: 320px;
    height: 46px;
    opacity: 1;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 7px;
  }

}
