.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;

  &__sidebar__container {
    margin-left: 20px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
}
