.import{
    &__importSelector{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 320px;
        margin-top: 24px;
        margin-bottom: 25px;
        height: 46px;
        opacity: 1;
        background: #ffffff;
        border: 1px solid #e9e9e9;
        border-radius: 24px;

        &__button--left{
            width: 160px;
            height: 46px;
            opacity: 1;
            background: #ffffff;
            border-radius: 100px 0px 0px 100px;
        }

        &__button--right{
            width: 160px;
            height: 46px;
            opacity: 1;
            background: #586aff;
            border-radius: 0px 100px 100px 0px;
        }
    }
} 