.app-header {
  align-items: center;
  background: $gallery;
  position: relative;
  z-index: $header-z-index;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex: 0 0 auto;

  @media screen and (max-width: 575px) {
    margin: 0,20px,0,20px;
    background: #475af5;
    height: 72px;
    z-index: $mobile-header-z-index;
  }

  @media screen and (min-width: 576px) {
    height: 75px;
    justify-content: center;

    &--back-drop {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 32px;
        background: $gallery;
        bottom: -32px;
      }
    }
  }


  &__metafox-logo {
    cursor: pointer;

    &--icon {
      width: 36px;
      height: 36px;
      opacity: 1;
      background: linear-gradient(180deg,#f1f4ff, #dadeff);
      border-radius: 50%;
    }

    &--horizontal {
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
  }

  &__contents {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 575px) {
      width: 320px;
      height: 100%;
    }

    @media screen and (min-width: 576px) {
      width: 85vw;
    }

    @media screen and (min-width: 769px) {
      width: 80vw;
    }

    @media screen and (min-width: 1281px) {
      width: 62vw;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  &__account-menu-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  &__network-component-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    width: 200px;
    height: 34px;
    opacity: 1;
    border: 1px solid #6c7bf7;
    border-radius: 19px;
  }

  &__network-component-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px,14px,0px,14px;
    width: 162px;
    height: 20px;
    
    &--text {
      width: auto;
      height: 20px;
      opacity: 1;
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: left;
      color: #ccd2fc;
      line-height: 20px;
    }
    &--drop-icon{
      width: 10px;
      height: 6px;
      margin-left: auto;
      opacity: 1;
      background: #c9cfff;
    }
  }


}
